<footer id="footer" data-hook>
   <!--<div class="left-footer">-->
    <!--<div class="phone">-->
    <!--<a href="callto:+74959711414">+7(495)971-14-14 с 10 до 18</a>-->
    <!--</div>-->
    <!--<br>-->
    <!--<div class="email">-->
    <!--<a href="mailto:mastermalyar.ru@gmail.com">mastermalyar.ru@gmail.com</a>-->
    <!--</div>-->
    <!--<br>-->
    <!--<div class="address">-->
    <!--Московская обл. <br/>-->
    <!--Люберецкий район. <br/>-->
    <!--12км Новорязанского шоссе Строительный рынок "Строймаркет" (перед поворотом на Лыткарино )-->
    <!--</div>-->
    <!--</div>-->
    <div id="footer-left" data-hook>
      <ul>
        <li><a href="/products">Контакты</a></li>
      </ul>
    </div>
      <div id="footer-right" data-hook>
      </div>
</footer>